@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("http://fonts.cdnfonts.com/css/cocogoose");

* {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #272a31;
}

body {
  display: flex;
  flex-direction: column;
  background-color: white;
  z-index: -1;
}

.m-menu {
  margin: 25px;
  outline: transparent;
  cursor: pointer;
}

.logo-img {
  /* height: 20px; */
}

.toplist {
  display: none;
}

.navbar {
  /* height: fit-content */
  width: 100%;
  z-index: 10;
  margin-bottom: 5rem;
  background-repeat: round;
  background-size: contain;
  background-image: url(./image/mobile\ background.png);
}

.footer-image {
  display: none;
}

.date {
  font-family: "COCOGOOSE", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
}

.icontent h1 {
  font-size: 2rem;
  text-align: left;
  margin-bottom: 1rem;
  color: #ec5242;
  font-weight: normal;
}

.icontent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introd2 {
  background-image: url(./image/header\ background.jpeg);
  font-size: 2.5rem;
  text-align: left;
  font-family: "COCOGOOSE", sans-serif;
  text-transform: uppercase;
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 2rem;
}

.intro {
  display: flex;
  line-height: 25px;
  margin: 15px;
  font-size: 14px;
  text-align: center;
  background-color: white;
  padding: 5px;
}

.underline-orange {
  visibility: hidden;
}

.main-text {
  color: #fff;
}

.program {
  display: flex;
  flex-direction: column;
  background-image: url(./image/diamond.png);
  background-repeat: repeat;
  background-color: rgb(40, 41, 49);
}

.programi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
  margin: 6px;
  align-items: center;
}

.p-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin-top: 30px;
}

.main-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  gap: 5px;
}

.card-container {
  display: flex;
  gap: 10px;
  margin: 1px;
  background-color: #333a4b;
}

.card {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
}

.left-text {
  display: flex;
  width: 30%;
  gap: 10px;
  padding: 8px;
}

.left-text img {
  width: 20px;
  height: 20px;
}

.ltext {
  font-family: "COCOGOOSE", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  color: #ec5242;
}

.right-text {
  width: 65%;
}

.rtext {
  display: flex;
  line-height: 20px;
  font-size: 14px;
  justify-content: center;
  color: #d3d3d3;
}

.join {
  margin-top: 50px;
}

/* .design {
    border: 2px solid #d3d3d3;
  } */
.pimage img {
  max-width: 60px;
  height: 35px;
}

@media (min-width: 768px) {
  .desktop {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-bottom: 20px;
    width: 100%;
    position: fixed;
    background-color: #fff;
  }

  .top-nav {
    display: flex;
    height: 40px;
    background-color: rgb(39, 42, 50);
    align-items: center;
    justify-content: flex-end;
    padding-right: 18px;
  }

  .card {
    display: flex;
    flex-direction: row;
  }

  .card-container {
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    padding: 0 20px;
  }

  .toplist {
    display: flex;
    width: 30%;
    position: static;
    gap: 20px;
    padding: 0;
    list-style: none;
  }

  .up-item {
    color: #d3d3d3;
    font-size: 15px;
  }

  .navimg {
    width: 15px;
    height: 15px;
  }

  .nav-bar {
    background-image: url(./image/home-bg-desk.png);
  }

  .navigation {
    display: flex;
    flex-direction: row;
    font-style: normal;
    padding: 0;
    list-style: none;
    text-decoration: none;
    gap: 20px;
    align-items: center;
  }

  .navdesktop {
    display: flex;
    height: 40px;
    width: 100%;
    align-items: flex-end;
    justify-content: space-around;
    margin-top: 20px;
  }

  .navigation-item {
    display: flex;
    font-size: 20px;
    list-style: none;
    text-decoration: none;
    gap: 20px;
    align-items: center;
    margin-right: -94px;
  }

  .logo {
    visibility: visible;
    display: flex;
    line-height: 1rem;
    width: 20px;
    align-items: center;
    margin-bottom: 10px;
  }

  .logo-img {
    width: 48px;
  }

  .mobile {
    display: none;
  }

  .icontent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .introd1 {
    display: none;
  }

  .intro {
    font-size: 15px;
    margin: 20px;
  }

  .underline-orange {
    visibility: visible;
    width: 48px;
    height: 1px;
    background-color: orangered;
  }

  .itittle {
    width: 80vh;
    margin-top: 70px;
    padding-top: 150px;
  }

  .main-text {
    font-size: 30px;
  }

  .spks-container {
    display: grid;
    grid-template-columns: auto auto;
  }

  .m-button {
    width: auto;
    height: 52px;
    margin: 26px;
    border: 1px solid #ccc;
    border-radius: 7px 7px;
    background-color: #fff;
  }

  .left-text {
    width: 80%;
    gap: 10px;
    padding: 8px;
  }

  .left-text img {
    width: 20px;
    height: 20px;
  }

  .join {
    margin-top: 100px;
  }

  .parner-container.pimage {
    flex-direction: column;
    max-width: 60px;
    height: 35px;
  }

  .partner-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }

  .partners {
    height: 40vh;
    background-color: rgb(39, 42, 50);
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .patimage {
    width: auto;
    display: flex;
    height: 35px;
  }

  .footer-container img {
    height: 15px;
    width: 15px;
  }
}
